
.full-screen-content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content horizontally */
    text-align: center; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #555;
    background-color: rgb(190, 248, 248);
    width: 100vw;
    margin-left: 0;
    padding-left: 0;
}

.hidden {
    display: none;
}

.error-msg {
    color: red;
}

table {
    margin-bottom: 15px;
}

table caption {
    font-weight: bold;
}

table td {
    text-align: center;
    padding: 3px 8px;
}